@use 'colors';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

$primary-font: 'Avenir';

@font-face {
  font-family: $primary-font;
  src: url('../assets/Avenir/Avenir\ 35\ Light.otf');
  font-weight: 400;
}

@font-face {
  font-family: $primary-font;
  src: url('../assets/Avenir/Avenir\ 65\ Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: $primary-font;
  src: url('../assets/Avenir/Avenir\ 95\ Black.otf');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  font-size: 14px;
  line-height: 14px;
  color: colors.$primary-text-color;
  font-weight: 400;
}

.font-avenir {
  font-family: $primary-font, sans-serif;
}

.text-12 {
  font-size: 12px;
  line-height: 12px;
}

.text-16 {
  font-size: 16px;
  line-height: 16px;
}

.text-20 {
  font-size: 20px;
  line-height: 20px;
}

.text-40 {
  font-size: 40px;
  line-height: 40px;
}

input[type='button'], .button {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

input::placeholder {
  color: colors.$primary-text-color-70;
}

Link {
  cursor: pointer;
}

.no-transition {
  transition: none;
}